<!DOCTYPE html>
<html>
    <head>
        <title>A general api</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            #about{
                margin-top: 200px;
                background: whitesmoke;
                color: gray;
            }
            .lead{
                font-weight: 100;
                font-size: 26px;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div id="about" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
                <h1>memoris</h1>
                <p class="lead">
                    A general key-value store api with redis as backend.
                </p>
                <iframe src="http://ghbtns.com/github-btn.html?user=relekang&repo=memoris&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                <iframe src="http://ghbtns.com/github-btn.html?user=relekang&repo=memoris&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
            </div>
        </div>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
